.loading{
    width:100vw;
    height:100vh;
    background: #fff;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgb(40,40,40);
    border-left: 5px solid rgb(40,40,40);
    border-radius: 50%;
    animation: loadingAni 800ms linear infinite;
}

@keyframes loadingAni {
    to{
        transform: rotateZ(360deg);
    }
}